h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    position: relative;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    display: grid;
}

.button, .values {
    position: absolute;
}

.values {
    top: 8rem;
}